#foreground{

width:160px;
height:140px;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

position:absolute;
top:120px;
left:50px;

cursor:move;

}

#resizeHandle{

width:14px;
height:14px;

background:white;
border:2px solid black;

position:absolute;
bottom:150px;
right:30px;

cursor:nwse-resize;

}