#card{
width:260px;
height:420px;
border-radius:16px;
padding:20px;
display:flex;
flex-direction:column;
align-items:center;
justify-content:space-between;
background-size:cover;
background-position:center;
color:black;
position:relative;
overflow:hidden;
}

#foreground{

position:absolute;

width:160px;
height:140px;

top:120px;
left:50px;

background-size:contain;
background-repeat:no-repeat;
background-position:center;

cursor:move;

}

#resizeHandle{

position:absolute;

width:14px;
height:14px;

background:white;
border:2px solid black;

bottom:150px;
right:30px;

cursor:nwse-resize;

}